body{
	  background-color: #023970;
    color: white;
    height: 2000px;
    
}

/* navbar */
.navbar-brand{
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 1.5em;
  margin-top: -15px;
}

.nav.navbar-nav>li,.collapse.navbar-collapse,.nav>li>a:hover, .nav>li>a:focus, a{
  color: white;
}

/* container for every page */
.container-fluid{
  width: 946px;
  height: auto;
  padding: 0;
}

/* homepage */
#fb-outbox{
  background-color: white;
  width: 400px;
  height: 425px;
  display: inline-block;
}

#contact-captain{
  background-color: white;
  width: 500px;
  height: 350px;
  display: inline-block;
  color: black;
  margin-left: 40px;
  float: right;

}

#contact-captain h3, #contact-captain h4{
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;  
  text-align: center; 
}

.circle-captain {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 180px;
    height: 180px;
    display: inline-block; 
    border: 4px solid #C29D4E;
/*    margin-top: 30px;*/
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px; 
    text-align: center;
}

.btn.btn-lg.btn-default{
  display: inline-block;
  float: right;
  width: 200px;
  height: auto;
  background-color: #C29D4E;
  color: black;
}

#button1{
  margin-left: 20px;
  margin-right: 30px;
  margin-top: -44px; 
}

#button2{
  margin-right: 20px;
  margin-top: -44px;
}


/*Directions page*/

#map{
  color: black;
}

/* results page */

.result-box{
  width: 946px;
  height: auto;
  background-color: white;
  color: black;
  margin-top: 50px;

}

/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
}

/* For full-screen banner at top of page */
.top-banner {
    position: relative;
}
.top-pic {
    width: 100%;
    height: auto;
}

/* For text overlay on top-pic image */
 .bottomleft {
    position: absolute;
/*     top: 55px;*/
    bottom: 30px;
    left: 0em;
    width: 300px;
    font-weight: bold;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
  }

/* About page */
.about-pic {
    max-width: 250px;
    height: auto;
    float: left;
    margin-left: 10px; 
    margin-right: 10px;
}
.about-pic2 {
    max-width: 250px;
    height: auto;
    float: right;
    margin: 10px; 
}
.about-text {
    width: 946px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin-top: 50px;
    padding: 10px;
}
.circle-row {
    text-align: center;
    height: 200px;
}
.circle {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    height: 200px;
    display: inline-block; 
    border: 4px solid #C29D4E;
/*    margin-top: 30px;*/
    margin-right: 20px;
    text-align: center;
}
    

 

/* Roster Hover over

body {
  padding-top: 50px;
}
*/ 
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}





footer {
    color:black;
    background-color: #fff;
    height: 300px;
    text-decoration: none;
}

.footertext {
    style="text-decoration: none;
    color: black !important;
}

.col-md-3> a {
    style="text-decoration: none;
    color: black;
}




.col-lg-6 img {
background-color; 
}













    
